@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.section-1 {
    background-color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.section-heading {
    color: aliceblue;
    font-size: 5rem;
    text-shadow: .3rem .3rem .3rem black;
}
.section-1-icons {
    position: relative;
}
.section-1-icons i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18rem;
    transform: translate(-50%,-50%) scale(0);
    text-shadow: .3rem .3rem .3rem #555;
    position: absolute;
    color:rgb(224, 155, 52);
    transition: transform .4s ease-in ;
}
.section-1-icons i.change {
    transform: translate(-50%,-50%) scale(1);
}